{% extends 'index.html' %}

{% block titulo %} Asignar Rol {% endblock %}

{%block content %}


<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Nivel</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Informe</th>
     
    </tr>
  </thead>
  <tbody class="table-secondary">
    
    <tr>
      <td>{{ proyecto.titulo }}</td>
      <td>{{ proyecto.descripcion }}</td>
      <td>{{ proyecto.nivel}}</td>
      <td>{{ proyecto.fechainiciacion }}</td>
      <td><form id="streamform" action="{% url 'nucleo:actualizarInforme' pk=proyecto.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="informe"  placeholder="Inserte el informe final">
        <input type="hidden" name="proyectoid" value={{ proyecto.id }} >
        <input class= "btn btn-secondary" type="submit" value="Actualizar informe" id="streambutton" />
      </form>
    </td>
      
    </tr>
       
  </tbody>
</table>

 {% endblock content%}