
{% block titulo %} Proyectos {% endblock %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{%block contenido %}
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Filtros: </span>
      <select class="form-select" aria-label="Default select example" name="category">
        <option selected disabled>Categorías</option>
        <option value="0">Ver todas</option>
        {% comment %} {% for cat in categories %} 
        <option value="{{ cat.pk }}">{{ cat.nombre }}</option>
        {% endfor %}{% endcomment %}
      </select>
      <span class="input-group-text" id="basic-addon1">Fecha de Inicio: </span>
      <input type="date" class="form-control" name="fechaIni">
      <span class="input-group-text" id="basic-addon1">Fecha Final: </span>
      <input type="date" class="form-control" name="fechaFin">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</nav>
{% if request.user.is_empleado %}
<caption><a class="btn btn-primary" href="{% url 'nucleo:crearProyecto' %}">Añadir proyecto</a></caption>
{% endif %}
{% if proyectos %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">nivel</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Fin</th>
      <th scope="col">Informe</th>
      
    </tr>
  </thead>
  <tbody>
    {% for e in proyectos %}
    <tr>
      <td>{{ e.titulo }}</td>
      <td>{{ e.descripcion }}</td>
      <td>{{ e.nivel}}</td>
      <td>{{ e.fechainiciacion }}</td>
      <td>{{ e.fechafin }}</td>
      <td>{{ e.informeFinal }}</td>
      <td>
      {% if request.user.is_cliente %} 
      {% if participa.idCliente != request.user.id and participa.idProyecto != e.id %}
      
        <a class="btn btn-primary" href="{%url 'nucleo:crearParticipa' pk=e.id %}">Inscribirse</a>
      {% endif %}
      {%endif%}
      {% if request.user.is_empleado %}
        <a class="btn btn-primary" href="{%url 'nucleo:editarProyecto' pk=e.id %}">Editar</a>
        <a class="btn btn-danger" href="{%url 'nucleo:borrarProyecto' pk=e.id %}">Eliminar</a>
      {% endif %}
      </td>
        
      </td>
      
      </td>
      
    </tr>
    {% endfor %}
    
  </tbody>
  {% else %}
    <h1>No hay registros de proyectos</h1>
{% endif %}
    
</table>

{% endblock %}