{% extends 'index.html' %}
{% block titulo %} Proyectos {% endblock %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{%block content %}
<h1 class="text-secondary">Proyectos</h1>
<br />
<nav class="navbar">
  <form class="container-fluid" action="{% url 'nucleo:filterProyecto'%}">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Filtros: </span>
      <select class="form-select" aria-label="Default select example" name="category">
        <option selected disabled>Categorías</option>
        <option value="0">Ver todas</option>
        {% for cat in categorias %}
        <option value="{{ cat.pk }}">{{ cat.nombre }}</option>
        {% endfor %}
      </select>
      <span class="input-group-text" id="basic-addon1">Fecha de Inicio: </span>
      <input type="date" class="form-control" name="fechaIni">
      <span class="input-group-text" id="basic-addon1">Fecha Final: </span>
      <input type="date" class="form-control" name="fechaFin">
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
    
  </form>
  
</nav>
<br>
</br>
{% if request.user.is_empleado %}
<a class="btn btn-secondary" href="{% url 'nucleo:crearProyecto' %}">Añadir proyecto</a>
<a class="btn btn-secondary" href="{% url 'nucleo:historialE' %}">Historial</a>
{% endif %}
{% if request.user.is_cliente %}
<a class="btn btn-secondary" href="{% url 'nucleo:historialC' %}">Historial</a>
{% endif %}
{%if AI%}
<h3 class="text-secondary">Ya está inscrito en esa oferta</h3>
{%endif%}
{% if proyectos %}
<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">nivel</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Fin</th>
      <th scope="col">Informe</th>
      
      <th scope="col">Opciones</th>
      
    </tr>
  </thead>
  <tbody class="table-secondary">
    {% for e in proyectos %}
    <tr>
      <td>{{ e.titulo }}</td>
      <td>{{ e.descripcion }}</td>
      <td>{{ e.nivel}}</td>
      <td>{{ e.fechainiciacion }}</td>
      <td>{{ e.fechafin }}</td>
      <td>{{ e.informeFinal }}</td>
      
      <td>
      {% if request.user.is_cliente %} 
      {% if participa.idCliente != request.user and participa.idProyecto != e %}
      
        <a class="btn btn-primary" href="{%url 'nucleo:crearParticipa' pk=e.id %}">Inscribirse</a>
      {% endif %}
      {%endif%}
       {% if e.idEmpleado == request.user %}
        <a class="btn btn-primary" href="{%url 'nucleo:clienteProyecto' pk=e.id %}">Ver Clientes</a>
          {%if e.informeFinal == null %}
          <a class="btn btn-primary" href="{%url 'nucleo:finalizarProyecto' pk=e.id %}">Finalizar</a>
          {% endif %}
        <a class="btn btn-primary" href="{%url 'nucleo:editarProyecto' pk=e.id %}">Editar</a>
        <a class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este proyecto?')" href="{%url 'nucleo:borrarProyecto' pk=e.id %}">Eliminar</a>
      {% endif %}
      </td>
        
      </td>
      
      </td>
      
    </tr>
    {% endfor %}
    
  </tbody>
  {% else %}
    <h1>No hay registros de proyectos</h1>
{% endif %}
    
</table>

{% if request.user.is_cliente %}
<h4 class="text-secondary">Introduzca las fechas entre las que quiere filtrar en los proyectos en los que participa</h4>
<form class="form-check-inline" action="{% url 'nucleo:pdfCliente'%}">
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">Fechas: </span>
    <span class="input-group-text" id="basic-addon1">Fecha de Inicio: </span>
    <input type="date" class="form-control" name="FIPDF">
    <span class="input-group-text" id="basic-addon1">Fecha Final: </span>
    <input type="date" class="form-control" name="FFPDF">
  </div>
  
  <button type="submit" class="btn btn-secondary">Generar PDF</button>

</form>


{% endif %}
<script>
  function myFunction() {
    alert("Inscrito");
  }
</script>

{% endblock content%}