{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">Por favor inicie sesion</h1>

  <div class="form-floating">
    {{ form.username }}
    <label for="floatingInput"></label>
  </div>
  <div class="form-floating">
    {{ form.password }}
    <label for="floatingPassword"></label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesion</button>
  <a class="w-100 btn btn-lg btn-primary" href="{% url 'registro' %}" role="button">Registro</a>
</form>
{% endblock %}