{% extends 'index.html' %}

{% block titulo %} Empleados {% endblock %}

{%block content %}
<h1>Empleados</h1>
<br>
</br>
  <a class="btn btn-secondary" href="{% url 'nucleo:crearEmpleado' %}">Añadir empleados</a>
   
  <br>
</br>
{% if empleado %}
<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Username</th>
      <th scope="col">Biografia</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    {% for e in empleado %}
    <tr>
      <td>{{ e.dni }}</td>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellidos}}</td>
      <td>{{ e.direccion }}</td>
      <td>{{ e.username }}</td>
      <td>{{ e.biografia }}</td>
      <td>
        <a class="btn btn-secondary" href="{%url 'nucleo:editarEmpleado' pk=e.id %}">Editar</a>
        <a class="btn btn-danger" href="{%url 'nucleo:borrarEmpleado' pk=e.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>No hay registros de empleados</h1>

    {% endif %}
  </tbody>
</table>

{% endblock content%}