
{% block titulo %} Clientes {% endblock %}

{%block contenido %}


  <caption><a class="btn btn-primary" href="{% url 'nucleo:crearCliente' %}">Añadir clientes</a></caption>
   

{% if cliente %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Username</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Fecha de Alta</th>
    </tr>
  </thead>
  <tbody>
    {% for e in empleado %}
    <tr>
      <td>{{ e.dni }}</td>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellidos}}</td>
      <td>{{ e.direccion }}</td>
      <td>{{ e.username }}</td>
      <td>{{ e.fechaNacimiento }}</td>
      <td>{{ e.fechaAlta }}</td>
      <td>
        <a class="btn btn-primary" href="{%url 'nucleo:editarCliente' pk=e.id %}">Editar</a>
        <a class="btn btn-danger" href="{%url 'nucleo:borrarCliente' pk=e.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>No hay registros de clientes</h1>

    {% endif %}
  </tbody>
</table>

{% endblock %}