{% extends 'index.html' %}

{% block titulo %} Clientes {% endblock %}

{%block content %}
<nav class="navbar">
  <form class="container-fluid" action="{% url 'nucleo:indexRolCliente'%}">
    <div class="input-group">
      <span class="input-group-text">Filtro: </span>
      <select class="form-select" aria-label="Default select example" name="rol">
        <option selected disabled>Roles</option>
        <option value="0">Ver todos</option>
        {% for r in roles %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
  </form>
</nav>

<h1>Clientes</h1>
<br>


{% if Data %}

<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Nombre y Apellidos</th>
      <th scope="col">Proyecto</th>
      <th scope="col">Fecha incio</th>
      <th scope="col">Fecha fin</th>
      <th scope="col">Categoria</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    {% for e in Data %}
    <tr>
      <td>{{ e.idCliente.nombre }} {{ e.idCliente.apellidos }}</td>
      <td>{{ e.idProyecto}}</td>
      <td>{{ e.idProyecto.fechainiciacion}}</td>
      <td>{{ e.idProyecto.fechafin}}</td>
      <td>{{ e.idProyecto.idCategoria.nombre}}</td>
      <td>{{ e.rol}}</td>

    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros de clientes con ese rol</h1>

    {% endif %}
  </tbody>
</table>

{% endblock content%}