{% block titulo %} Categorias {% endblock %}

{%block contenido %}


  <caption><a class="btn btn-primary" href="{% url 'nucleo:crearCategoria' %}">Crear Categoria</a></caption>
   

{% if categorias %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    {% for c in categorias %}
    <tr>
      <td>{{ c.nombre}}</td>
      <td><img src="{{ c.foto.urls }}" width="60" height="60"></td>
      <td>
        <a class="btn btn-primary" href="{%url 'nucleo:editarCategoria' pk=c.id %}">Editar</a>
        <a class="btn btn-danger" href="{%url 'nucleo:borrarCategoria' pk=c.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>No hay registros de empleados</h1>

    {% endif %}
  </tbody>
</table>

{% endblock %}